    *{
        margin: 0;
        padding: 0;
        font-family: 'Gilroy-Light', sans-serif;
    }
    body{
        background-color: #DAC2A6;
    }

    
    .bold-highlight{
        font-weight: bold;
    }
    .name-logo h4{
        font-size: 18px;
        font-weight: 100;
    }

    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-wrapper{

        align-items: center;
        margin: 10px;
        background-color: #414A39;
        color: #AF9C7A;
        border-radius: 20px;
        padding: 20px;
    }

    .nav-options ul{
        display: flex;
        gap: 50px;
        list-style: none;
    }

    .nav-options li{
        cursor: pointer;
    }


    /* ------------------nav-ends-here----------------- */

    .hero{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        border-radius: 20px;
        padding: 0 15px 0 15px;
    }

    .left-col{
        display: flex;
        flex-direction: column;
        width: 70%;
        border-radius: 12px;
        gap: 10px;
    }

    .right-col{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .projects{
        background-color: #414A39;
        font-size: 14px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: #AF9C7A;
       padding: 20px 40px 0 40px;
        font-family: 'Gilroy-Heavy', sans-serif;
    }

    .projects a{
        list-style: none;
        color: #AF9C7A;
    }

    .projects h2{
        font-family: 'Gilroy-Regular', sans-serif;
    }

    .pj-div{
        padding-bottom: 18px;
        border-bottom: 1px solid #af9b7a5e;
    } 

    .pj-div h3{
        cursor: pointer;
    }

    .pj-img{
        align-self: center;
    }

    .pj-img img{
        width: 300px;
        height: 150px;
        object-fit: cover;
        border-radius: 12px;
        align-items: center;   
    }

    .links{
        display: flex;
        padding: 15px;
        border-radius: 12px;
        color: #AF9C7A;
        background-color: #414A39;
        justify-content: center;
    }

    .links ul{
        display: flex;
        gap: 65px;
        text-align: center;
        align-items: center;
    }

    .links li{
        list-style: none;
        cursor: pointer;
    }

    .links a{
        text-decoration: none;
        color: #AF9C7A;
    }

    /* ---------------right-side-begins-from-here-------------------------------------- */
    
    .lft-box-contanier{
        display: flex;
        gap: 10px;
    }

    .lft-box-one{
        font-size: 28px;
        background-color: #414A39;
        border-radius: 12px;
        color:#AF9C7A;
        font-family: 'Gilroy-Bold', sans-serif;
    }
    .flower-img{
        text-align: end;
        padding: 20px;
    }

    .lft-box-one h3{
        padding: 20px;
    }

    .profile img{
        width: 200px;
    }

    .light-highlight{
        font-weight: 100;
    }

    .lft-box-contanier2{
        display: flex;
        gap: 10px;
    }

    .lft-box-two{
        background-color: #414A39;
        color: #AF9C7A;
        border-radius: 12px;
        font-family: 'Gilroy-Light', sans-serif;
    }

    .lft-box-two h3{
        padding: 20px;
    }

    .circle-icon{
        text-align: left;
        padding: 20px;
    }

    .contact h6{
        padding-bottom: 50px;
        font-size: 20px;
    }

    .contact h2{
        font-family: 'Gilroy-Bold', sans-serif;
    }

    .contact i{
        padding-left: 100px;
    }

    .contact{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 12px;
        color: #414A39;
        background-color: #9A744D ;
        cursor: pointer;
    }

    .contact:hover{
        background-color:#9a744de2;
    }